body{
    width: 100%;
    height:100%;
    font-family: "Bebas Neue", sans-serif;
    margin:0px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    background:url('./images/StockSnap_UV4PIZ1DEK.jpg');
    font-size: 300px;
    background-repeat: no-repeat;
    font-weight: 600;
    object-fit: cover;
    background-size: cover;
    text-transform: uppercase;
    height: 100vh;
    display: flex;
    position: relative;
}



.hero-2{
    height: 100vh;
    width: auto;
    font-size: 250px;
    display: flex;  /* change using gsap make it flex*/
    flex-direction: column;
    line-height: 1;
    position: relative;
    background-color: #1a1a1a;
    color:white;
}

.bottom-container{
    position: absolute;
    bottom: 0%;
    font-size: 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;

}

.hero-3-content{
    display: flex;
    align-items: end;
    font-size:50px;
    height:100vh;
    background-image: url('./images/hero2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    color: white;
}
.container-1-hero-2{
    margin-left: 10rem;
}

.container-hero-2{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.hero-3{
    height:100vh;
}

.cross {
    position: absolute;
    transform: translate(-30%,0%);
    left:20%;
    margin-top:60px;
    width:120px;
    height:120px;
    z-index:99;
   
}

/* The vertical line of the cross */
.cross-1 {
    width: 100%;
    height: 100%;
    background-color: white; 
    position: absolute;
    top: 0; 
    left: 0;
    clip-path:polygon(45% 0%,55% 0%,55% 100%,45% 100%);
}

/* The horizontal line of the cross */
.cross-2 {
    width: 100%;
    height: 100%;
    background-color: white; 
    position: absolute;
    top: 0; 
    left: 0;
    transform: rotate(90deg);
    clip-path:polygon(45% 0%,55% 0%,55% 100%,45% 100%);
}

.overlay{
    height:100vh;
    width: 100%;
    position: fixed;
    z-index:999 ;
    display: flex;
}



.bar{
    width:10vw;
    height: 105vh;
    background-color: #1a1a1a;
}

.bar-text{
    position: absolute;
    font-size: 300px;
    color: rgb(219, 216, 216);
}



.end-animation{
    height:100vh;
    width: auto;
    background-color:#1a1a1a;
    position: relative;

}

.hero-bottom{
    position:absolute;
    bottom: 0%;
    left:0%;
    font-size: 20px;
    z-index: 0;
}

.gallery{
    height:300px;
    width:100%;
    display: flex;
    gap:40px;
    position: absolute;
    bottom: 0%;
    align-items: baseline;
    justify-content: center;
}


.card{
    height:200px;
    width:250px;

    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: ease-in-out;
    transition-duration: 0.3s;
}

.card:hover{
    cursor: pointer;
    transform: scale(1.01);

}
.white-text-container{
    width: 100%;
    height:100vh;
    background-color: white;
    z-index: 0;

}

.white-text{
    color:black;
    font-size: 200px;
}